@model br.aplicacao.tg.DTO.DTOClientePromocao
@{
    ViewBag.Title = "Cadastro";
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <script src="@Url.Content("~/Scripts/Promocao/cadastro-promocao.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/geral.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery.Jcrop.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/crop.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/ajaxupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/crop.js")"></script>
    
    
    <script id="promocao-pesquisa-template" type="text/x-jsrender">
        <tr rel="{{:IdEmpresa}}">
            <td class="id-empresa">{{:IdEmpresa}}</td>
            <td class="nome">{{:Nome}}</td>
            <td class="nome-fantasia">{{:NomeFantasia}}</td>
            <td class="website">{{:WebSite}}</td>
            <td class="cnpj">{{:Cnpj}}</td>
            <td ><a href="#" class="alterar">Alterar</a></td>
            <td ><a href="#" class="contatos">Contatos</a></td>
        </tr>
    </script>
    
    <script id="promocao-pesquisa-sem-registro-template" type="text/x-jsrender">
        <tr rel="">
            <td>{{:Msg}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </script>
}

<div class="container">
    <input type="hidden" id="id-cliente" value="@ViewBag.IdCliente"/>
    
    <div class="page-header">
        <h1>Cadastro de Promoção</h1>
    </div>

    <div class="row">
        <div class="cadastro">
            <div class="span6">
                <div>
                    <label>
                        Nome</label>
                    <input type="text" class="input-xxlarge" id="nome" name="nome" placeholder="Nome" value=""/>
                    <span class="error error-nome alert alert-error"></span>
                </div>
                <div>
                    <label>
                        Data de Liberação</label>
                    <input type="text" class="input-xxlarge" id="dataliberacao" name="dataliberacao" placeholder="Data de Liberação" value=""/>
                    <span class="error error-data alert alert-error"></span>
                </div>
                <div>
                    <label>
                        Data de Expiração</label>
                    <input type="text" class="input-xxlarge" id="dataexpiracao" name="dataexpiracao" placeholder="Data de Expiração" value=""/>
                    <span class="error error-data alert alert-error"></span>
                </div>
                <div>
                    <label>
                        Descrição</label>
                    <input type="text" class="input-xxlarge" id="descricao" name="descricao" placeholder="Descrição" value=""/>
                    <span class="error error-descricao alert alert-error"></span>
                </div>
            </div>
            <div class="span5 well">
                <label>
                    <strong>Imagem da Promoção</strong></label>
                <hr />
                <div class="row">
                    <div class="row center-align">
                        <img src="@ViewBag.Imagem" width="160" height="200" alt="Imagem da Promoção" id="imagemPreview" name="imagemPreview" class="imagem-preview" style="text-align:center;" />
                    </div>
                    <br style="clear: both;" />
                    <br style="clear: both;" />
                    <div id="buttons">
                        <div class="span0">
                            <a href="javascript:void(0)" class="btn btn-crop btn-warning pull-left" id="upload-imagem">
                                Upload</a>
                            <input type="hidden" id="temp-image" value="" />
                            <input type="hidden" id="extension" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-header">
            <h1>Minhas Promoções</h1>
        </div>

        <div class="row tabela-promocao">
            <table class="table empresas">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ativo</th>
                        <th>Descrição</th>
                        <th>Data Expiração</th>
                        <th>Data Liberação</th>
                        <th>Imagem</th>                      
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
    
    <hr/>
    <div class="row-fluid">
        <div class="span12">
            <input value="Salvar" class="btn btn-primary btn-small pull-right salvar-cadastro" />
        </div>
    </div>
    <br class="clearfix" />
</div>
